.home{
 display: flex;
 justify-content: space-evenly;
 margin: 50px;
 flex-wrap: wrap;
}
.blog-card{
    margin-top: 20px;
}
.home img{
    height: 200px;
}
.page{
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
.pagination{
    margin: 20px;
}