.nav{
    display: flex;
    background-color: #df4683;
    height: 40px;
}
.gr-btn{
    display: flex;
}
.nut img{
    width: 10px;
    margin-left: 28px;
}
.nut:hover{
    background-color: #fff;
}
.tab{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}
.tab span{
    margin: 10px 0px 0px 20px;

}
.more{
    margin: 6px 0px 0px 10px;
    font-size: 1.2em;
}
.tab button{
    border: 0;
    background-color: #fff;
    margin-left: 50px;
    font-size: 1.2em;
    border-radius: 5px;
}
.gr-btn{
    opacity: 0.5;
    margin: 10px 20px 0px auto;
}

