.arrow img{
    width: 20px;
    margin: 10px 10px 0px 20px;
}
.search-bar{
    display: flex;
}
.search-bar img{
    width: 15px;
}
.input{
    width: 60%;
    margin-top: 3px;
    border-radius: 20px;
    border:0;
    background-color: #eee;
    padding-left: 30px;
    
    
    
}
.mark{
    position: relative;
    left: 25px;
    z-index: 1;
    
}
.star{
    position: relative;
    left: -25px;
}
.input:focus{
    outline: none;
}
.input:hover{
    background-color: #ddd;
}
.addon{
    margin-top: 3px;

}
.addon img{
    width: 20px;
    margin: 10px 20px 0px 0px;
}
.addon:hover{
    border-radius: 10px;
    background-color: #eee;
    
}
.user img{
    width: 25px;
    border-radius: 50%;
    margin-top: 10px;
}
#dot{
    width: 13px;
    margin: 10px 0px 0px 10px;
}